body{
  font-family: 'Open Sans', sans-serif;
}

.header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header h1 {
  font-family: 'Nova Script', cursive;
}

form {
  text-align: center;
  margin-bottom: 50px;
}

#results {
  text-align: center;
}
